arbolado-captcha {
  display: none;
}

arbolado-captcha.show {
  background: rgba(0,0,0,.5);
  position: fixed;
  z-index: 99999;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}